/* 
 * 
 * 
 * JUSTHORSES CSS
 * 
 * © DM Cook
 * Spacegoose.net
 * 
 *  */

/* TODO: set media queries to scale to 320px by long (vertical iPhone screen) all the way to landscape layouts where search and text are being moved incorrectly 
 * 
 * */


* {
margin:0;
padding: 0;
}

html{
 height: 100%;   
}

html,body {font-family: 'Merienda One', 'Lato', 'Arial';
font-weight: 300;
font-size: 15px;
text-rendering: optimizeLegibility;
overflow-x: hidden;
    overflow-y: scroll;
}

body {
min-height: 100%;
    min-width: 100%;
    display: table;
}



a {
    color:#24433f;
}


 li{
        list-style-type: none;
    }   
    

/* MEDIA QUERIES */

/*
@media (max-width: 768px){
    .navbar-brand a {
        display: none;
    }
}
*/

/* above 620 */
/*
@media (min-width: 620px){
    .headerimg {background-size:contain!important;}
    .headerimg h2 {padding-top: 50px!important;}
    .directorylink-right{ left: 85%!important;}
}
*/

/* HEIGHT specific*/
/*
@media (max-height: 480px){
.headerimg {height: 60%!important;}
}
*/

/* above 160 */
/*
@media (max-width: 160px){
    body{
        font-size: 66%!important;
    }
    .headerimg h3 { display:none!important; }
    .headerimg h2 {font-size: 2em!important;}
    .headerimg {max-height:30%!important;}
    .headerimg {background-size:contain!important;}
}
*/
/*

@media (min-width: 449px){
    .directorylink-right{
        display:none;
    }
}
*/


/*
@media (max-width: 450px){
    .directorylink-right {
        
    }
}
*/

/* correction for +160px */
/*
@media (max-width: 162px){

    .directorylink-right{ left: 35%!important;
    margin-top: 100px!important;
    clear:both;    
    float:left;}

}
*/


  
/* * All preexisting media queries are being folded.





@media only screen and (max-width: 1250){
    .headerimg{
    height: 68%;
    background-size:contain!important;
}
}

@media only screen and (max-width: 950px) {
    .category-list{
        font-size: 0.91em;
    }
    
    .headerimg h3 { 
        font-size:1.5em;
    }
}

@media (max-width: 899px){
    .headerimg h3 {
        font-size: 1.4em!important;
    }
    
    .headerimg {
        background-size:contain!important;
        height: 68%;
    }
}

@media (max-width:820px){
    .headerimg {
        height: 66%!important;
        background-size:contain!important;
    }
}


@media (max-width: 758px){
    .category-list ul {
        font-size: 0.91em;
        padding: 0px;
        margin-bottom: 0px!important;
    }
        .category-list {
            margin-bottom: 0px;
        }
        .headerimg {
            background-size:contain!important;
    height: 68%!important;}

h1{
  margin-bottom: 0px;
}

.entry{
  margin-left: 3%!important;
  margin-right: 3%!important;
}
    
    .entry-body{
        float:left;
        clear:right;
    }

.entry-details {
    width: 80%!important;
    padding:0px;
    margin: 5px;
}
    
    .category-list{
        font-size: 1.11em!important;
        margin-bottom:0px!important;
    }

}

@media only screen and (max-width:716px){
    .headerimg {
        height: 60%!important;
        background-size:contain!important;
    }
}

@media only screen and (max-width: 660px){
    .headerimg{
        height:68%!important;
        background-size:contain!important;
    }
}

@media only screen and (max-width: 620px){
    .headerimg{
        background-size:cover!important;
    }
}

@media only screen and (max-width: 465px){
    
  body{
    font-size: 85%;
  }
    
    .headerimg {
    height: 66%;
        background-size:contain!important;
    }
    
    
.entry-header, .category-header {
line-height: normal;
padding: 28px 3px 0px 0px;
margin-top:-10px;
text-align:center;
}
   
    
.category-header h1 {
    text-align: center;

    }
}


*/

/*

@media only screen and (max-width:450px){
    .headerimg{
        height: 68%!important;
        background-size:contain!important;
    }
}
*/
/*

@media only screen and (max-width:430px){
    .searchitems btn-primary{
    width: 15%;
    margin: 50xr%;
}
    
    .headerimg {
        height: 66%!important;
    }
    
    .nav-item {
        display: block!important;
    }
    
}
*/

/*
@media only screen and (max-width: 320px){
    .headerimg {
        height: 22%!important;
        background-size:cover!important;
    }
}
*/

/*
@media only screen and (max-width: 160px){
    
    .headerimg{
        height: 30%!important;
        background-size:cover!important;
    }
    
}

*/


/*
 * ===============
 * 
 * END MEDIA QUERIES 
 * 
 * ===============
 * 
 * 
 down here *
*/


body {
background-color: rgb(234, 183, 114);
}

/*
=========================== HEADER ===============================
 */

 .header{
  background-color: #fff;
  width:100%;
  padding:1px 1px;
     margin:0;
  padding-bottom:0px;
  line-height: 2em;
}

.category-header{
    margin: 20px 0;
}
.headerimg {
    background: url(../img/JustHorses_logo-cropped-v6.jpg);
    background-size:cover;
    background-position:top center;
    background-repeat: no-repeat;
    height: 45%;
}


.headerimg h2{
    font-size: 1.9em;
    line-height:normal;
    padding-top: 10%
}

.headerimg h3{
    font-size:1.8em;
    font-family: 'Caveat';
    margin:0 3%;
    line-height:normal;
    padding-top: 7%;
    padding-bottom:5px;
}

.headerimg h2, .headerimg h3{
    text-align:center;
    line-height: 100%;
    color: #fff;
    text-shadow: 2px 3px 4px #000;
}


.directorylink {
    padding-bottom:0px;
/*    float:left;*/

}

.directorylink-right {
    position: absolute;
    left: 90%;
    top: 8px;
/*    float:right;*/
    clear: left;
    width: 120px;
}

.directorylink-right a{
    font-size: 85%;
}


.parallax {
    background-color:#87B0CB;
    line-height: normal;
/*  background-color: #cedece;*/
}

.searchitems {
/*    margin: 0 auto; */
/*  margin: 0px auto 25px;*/
    display:block;
    position:relative;
    
}


.searchitems input {
    margin: 4px auto;
    
/*    width: 100%;*/
}

.searchitems input:last-of-type{
    width: 100px;
    padding:0;
}

.navbar-brand a{
    font-size:1em;
}

.navbar {
    height: 51px;
}

.header h1{
  padding:6px 15px;
    text-align: center;
      margin: 0px 5px;

}

.header h3{
    line-height: 100%;
}



/* ============== NAV =========== */

/*
.nav container {
    margin-bottom: 25px;
}
*/
/*
.nav-item {
padding:3px!important;
background-color: rgba(255, 255, 255, 0.28)!important;
transition: ease-in-out 0.8s!important;
}
*/

/*
.nav-item:hover{
    background-color: #fff;
}
*/

/*
navbar-nav {
    background-color:#dedede!important;
}
*/


/*=========================== ENTRY ===============================*/
 

.entry {
  margin-left:9%;
  margin-right: 9%;
  padding-top:0px;
  background-color:#fff;
}

.entry-header{
  background-color: #86A397;
    padding: 20px 0;
/*  height: 100px;*/
  font-size:90%;
  transition: 0.5s ease-in;
}

.entry-categorylist{
  clear: both;
  text-align:center;
  margin-top:10px;
    padding-top:10px;
  background-color:#CCDEFB;
}
.entry-header h1{
  margin-left:2%;
  margin-right:2%;
}


.entry h1{
    color: #CCDEFB;
}
.entry h1, .entry h2, .entry h3 {
  padding: 3px;
}

.entry h2 {
    font-size: 1.4em
}

.entry h3 {
    font-size: 1.3em;
}

.entry-body {
  margin-left:2%;
  margin-right: 2%;
  width:70%;
  font-size:1em;
  line-height:normal;

}

.entry-details{
  margin: 20px;
  padding:8px;
  line-height: 200%;
  font-size:0.8em;
  width: 30%;
  background-color: #dedede;
    float:right;
}

.entry-details h3{
  font-family: monospace;

}


.category-header h1{
    font-size: 2em;
    padding-bottom:0;
    margin-bottom:0;
}

.category-list li{
    font-size: 1em;
}

.category-list ul{
    margin-bottom: 0px;
}



/*
=========================== FOOTER ===============================
 */

.footer {
    display: table-footer-group;
/*
 *
position: absolute;
  bottom: 0!important;
  width: 100%;
*/
/*   Set the fixed height of the footer here */
/*
  height: 185px;
  line-height: 50px; 
*/
    /* Vertically center the text there */
  background-color: #CAB09B;
/*    background-color: #e9c89e;*/
/*  background-color: #dedece;*/
}

.inner{
    padding: 20px;
}

.content {
    display: table-row-group;
}
/*

.footer h1{
  font-size: 1em;
  margin-top:0px;
  padding: 10px 1px;
  text-align: center;
}
*/

/*
 ================ PARALLAX TRICKS =====================
*/



#slide:before {
  background-image: url("http://lorempixel.com/640/480/abstract/5/");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

 
